body, html {
  font-family: 'Oxygen', sans-serif;

}
.main-row{
  padding-bottom: 30px;
  padding-top: 30px;
}
.toolbar {
  font-size: 1.2em;
  padding: 0 0 15px 0;
}
.toolbar .btn {
  margin-left: 5px;
}
.toolbar .sort-select {
  width: 200px;
}
.toolbar .sort-select select {
  cursor: pointer;
}
div.auth-box {
  padding: 30px;
  /* border: 1px solid #ccc; */
}
tr.no-results {
  background: #fff!important;
}
tr.no-results td{
  padding: 30px;
}
tr.no-results h2,
div.auth-box h2{
  margin-bottom: 30px;
}
.btn {
  cursor: pointer;
}
.modal-footer .btn.float-right{
  margin-left: 5px;
}
.better-input-group {

}
.better-input-group .input-group-prepend {
  border-right: none;
}
.better-input-group .input-group-text {
  background: #fff;
}
.better-input-group .form-control {
  border-left: none;
  padding-left: 0;
}
.loader {
  text-align: center;
  padding: 30px;
  font-size: 3em;
  color: #bdc3c7;
}
.jumbotron{
  /* margin-bottom: 15px; */
}
.jumbotron h3{
  color: #999;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.landing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.highlight-box {
  padding: 30px;
  /* background: #eee; */
}
.highlight{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.highlight img{
  height: 60px;
  margin-bottom: 30px;
}
.highlight h3{
  font-size: 1.25rem;
  max-width: 200px;
  margin: auto;
}
.highlight .item {
  margin-bottom: 30px;
}
.pointer {
  cursor: pointer;
}
.footer {
}
.footer-row {
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact-form {

}
.contact-form .form-control {
  margin-bottom: 15px;
}
